@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fira_sansmedium';
    src: url('../fonts/firasans-medium-webfont.woff2') format('woff2'),
    url('../fonts/firasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
    url('../fonts/firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fira_sansextrabold';
    src: url('../fonts/firasans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/firasans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hind_vadodaralight';
    src: url('../fonts/hindvadodara-light-webfont.woff2') format('woff2'),
    url('../fonts/hindvadodara-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hind_vadodaramedium';
    src: url('../fonts/hindvadodara-medium-webfont.woff2') format('woff2'),
    url('../fonts/hindvadodara-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hind_vadodararegular';
    src: url('../fonts/hindvadodara-regular-webfont.woff2') format('woff2'),
    url('../fonts/hindvadodara-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hind_vadodarasemibold';
    src: url('../fonts/hindvadodara-semibold-webfont.woff2') format('woff2'),
    url('../fonts/hindvadodara-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hind_vadodarabold';
    src: url('../fonts/HindVadodara-Bold.woff2') format('woff2'),
    url('../fonts/HindVadodara-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}