/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #F6F6F6 !important;
    font-size: 14px;
}

::selection {
    background: #BC8CDC;
    color: #fff;
}

p,
a,
span,
input,
textarea,
label,
table {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

main {
    z-index: 1;
}

.background-image {
    position: fixed;
    left: -6%;
    z-index: 0;
    min-height: 100vh;
    height: 100%;
    width: 112%;
}

.background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.btn2:hover{
    background: #3D387D;
}
.btn2
{
    background: #b6b6b6;
border: 2px solid #3D387D;
color: #fff;
padding: 7px 40px;
border-radius: 7px;
outline: none;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 1px;
margin-right: 20px;
font-weight: 600;
cursor: pointer;
}
@media (max-width: 1024px) {
    .background-image img {
        width: auto;
        height: 100%;
    }
}

.wrapper {
    max-width: 1366px;
    margin: 0px auto;
    width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button {
    background: #3D387D;
    color: #fff;
    padding: 9px 40px;
    border-radius: 7px;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

/* Header CSS */
.header {
    padding: 14px 19px 15px;
    display: flex;
    color: #fff;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 40px;
    height: 21px;
}

.header__logo h3 {
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
}

/* Content sections CSS */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 90vh;
}

.content .steps-column {
    width: 100%;
    max-width: 915px;
}

@media (max-width: 1024px) {
    .content .steps-column {
        max-width: 100%;
    }
    
}

.content .order-column {
    width: 100%;
    max-width: calc(100% - 915px);
}

@media (max-width: 1024px) {
    .content .order-column {
        max-width: 100%;
    }
    
}

/* Steps head */
.steps-head {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 15px 5px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .steps-head {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.steps-head a {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;
}

.steps-head__header h3 {
    font-size: 28px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .steps-head__header h3 {
        margin: 0;
        flex: 1;
        font-size: 22px;
    }  
}


.steps-head__header img {
    width: 107px;
}

@media (max-width: 768px) {
    .steps-head__header img {
        width: 70px;
    }
}


.steps-wrapper {
    padding: 0 10px;
}

.steps-wrapper .step {
    display: flex;
    background: #fff;
    width: 100%;
    padding: 18px 27px 16px;
    align-items: center;
    border-radius: 7px;
    margin-top: 10px;
}

.step__number {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
}

.step__title {
    font-size: 16px;
    font-weight: 500;
}

.step img {
    max-width: 36px;
    margin: 0px 22px;
}

/* Order column css */
.order {
    width: 100%;
    max-width: 390px;
    margin: 25px 0 0 20px;
}

@media (max-width: 1024px) {
    .order {
        max-width: 100%;
        padding: 0 10px;
        margin: 30px auto 0;
    }
}

.order__wrapper {
    padding: 25px 0 0;
    border-radius: 8px;
    border: 1px solid #c7c7c7;
    color: #595959;
    background: #fff;
    overflow: hidden;
}

.order__header {
    display: flex;
    align-items: flex-center;
    padding: 0 22px 20px;
    border-bottom: 1px solid rgba(107, 127, 176, 0.19);
    color: #333;
}

.order__header svg {
    width: 28px;
    height: 25px;
}

.order__header p {
    margin-left: 10px;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.order__body {
    display: flex;
    flex-direction: column;
    padding: 25px 35px 25px 30px;
    color: #333;
    border-bottom: 1px solid rgba(107, 127, 176, 0.19);
}

.order__divider {
    width: 108%;
    height: 1px;
    margin: 7px 0;
    align-self: center;
    background: rgba(107, 127, 176, 0.19);
}

.order__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.order__item-title {
    margin-right: auto;
}

.order__item-action {
    min-width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

.order__promocode {
    display: flex;
    align-items: center;
    margin: 15px -15px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.order__promocode img {
    width: 18px;
    margin-right: 10px;
}

.order__subtotal {
    margin-top: 15px;
}

.order__subtotal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
}

.order__subtotal-item-title {
    margin-right: 50px;
}

.order__total {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 35px 30px 30px;
}

.order__total-title {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.order__total-price {
    display: flex;
    align-items: baseline;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

/* Active step CSS */
.step-active {
    margin-top: 10px;
    border-radius: 7px;
    background: #fff;
}

.step-active__header {
    display: flex;
    padding: 28px 32px 18px;
    border-bottom: 1px solid #E3E7F0;
}

.step-active__header-content {
    margin-top: -3px;
    padding-left: 22px;
}

.step-active__header-subtitle {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold;
}

.step-active__header-title {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.inputArea .iBtn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputArea .iBtn input {
    width: 65%;
    padding: 14px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    border: none;
    border: 1px solid #B6B6B6;
    margin-top: 15px;
}

.inputArea .iBtn .button {
    width: 30%;
    margin-right: 2px;
    padding: 14px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 15px;
}

.inputArea {
    margin-top: 30px;
    margin-bottom: 34px;
}

.inputArea label {
    font-size: 16px;
    margin-left: 5px;
}


.inputArea label p {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
}

.checkbox {
    margin-left: 20px;
}

.nextBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 20px;
}

/**/

/***step-2*****/
.nextBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px !important;
    margin-right: 30px;
    padding: 15px 15px 50px !important;
}

.activeTop {
    display: flex;
    border-bottom: 1px solid #E3E7F0;
    padding-bottom: 16px;
    /* padding: 15px; */
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 10px;
}

.stepActive {
    background: #fff;
    border-radius: 8px;
    /**padding: 35px;**/
}

.stepActive.stepTwo.stepActive .sBold {
    font-size: 12px !important;
    font-weight: bold;
    font-family: open sans, sans-serif;
}

.stepActive.stepTwo.activeTop {
    padding: 35px;
}

.stepActive.stepTwo.stepActive .slight {

    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    font-weight: 500;
    font-family: 'Montserrat', 'Black';

}

#name {
    max-width: 100%;
    min-width: 100%;
    width: 816px;
    border: 1px solid #b6b6b6;
    /* border-style: solid; */
    padding-top: .75em;
    padding: 13px;
    border-radius: 5px;
}

#name:hover {


    background-color: #f6f6f6;
    border-style: solid;
    border: 1px solid #b6b6b6;

}

.busniess {

    margin-top: 25px;
    color: #222;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 22px;
    font-family: 'Montserrat', 'Medium';
}

.busniesss {

    margin-top: 25px;
    color: #222;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Medium';
}

.free {
    margin: 8px;
}

.website {

    color: #000000;
    font-size: 18px;

    padding-left: 46px;
    padding-bottom: 10px;
}

.sec-space {

    background-color: #fafafa;
    padding: 1px 35px 21px 35px;
}

.sell {
    width: 33%;
    display: inline-block;
}

.optionalContent {
    padding: 4px 55px 10px;
}

.imgs {


    width: 40px;
    height: 40px;
    object-fit: cover;
}

.spacing {

    float: right;
    display: flex;
}

.deletes {
    padding-right: 15px;
}

.bors {
    border: 1px solid #f2f2f2;
}

.add {
    margin: 35px;
}

/***** start css for first step *******/
.logo-image_1 img {
    width: 107px;
    height: 101px;
    object-fit: cover;
}

span.au_data {
    font-size: 16px;
    color: #4b4747;
}

.total_prize_right_side3 {
    font-size: 40px;
}

p.bold.total_last {
    margin-top: 15px;
}

.first-step {
    margin-top: 30px;
}

.colTop a {
    text-decoration: none;
}

p.my_sitecom {
    margin-left: 20px;
    margin-top: 10px;
    color: #525252;
    font-size: 16px;
}

.first_img img {
    /*width: 50px;*/
    /*height: 50px;*/
}

.first-step {
    padding: 15px;
}

/* ******************************** Step 3********************************/
.bg-gray {
    background-color: #FBFDFD;
}

.step3 .width {
    width: 100%;
    margin: 0px;
    margin: 0px;
}

.step3 .sBold {
    padding-top: 35px;
    margin-left: 35px;
}

.width-50 {
    width: 49%;
    display: inline-block;
}

.step3-checkbox_ p.bold.mt-2 {
    margin-bottom: 20px;
}

.table_on-staep_3 td {
    width: 25%;
    padding-bottom: 5px;
}

.table_on-staep_3 input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.step3-checkbox_ {
    padding-bottom: 20px;
    border-bottom: 1px solid #e4dbdb;
}

.dropdown.d_for_step3 {
    padding: 30px 0px;
}

.d_for_step3 label {
    font-size: 20px !important;
    font-weight: 600;
}

select#lable-page {
    padding: 15px 5px;
    width: 304px;
    margin-left: 30px;
}

#lable-page option {
    font-size: 16px;
}

select#lable-page {
    font-size: 16px;
}

.dropdown.d_for_step3 {
    padding: 30px;
    border-bottom: 2px solid #e4e4e4;
}

/* ******************************** Step 3********************************/
.bg-gray {
    background-color: #fafafa;
}

.step3 .width {
    width: 100%;
    margin: 0px;
    margin: 0px;
    padding: 0px 10px 20px 10px;
}

.step3 .sBold {
    padding-top: 35px;
    margin-left: 46px;
    font-size: 16px;
    font-weight: bold;

    font-family: 'Montserrat';
}

.width-50 {
    width: 49%;
    display: inline-block;
    padding-bottom: 25px;
}

.additional-section {
    display: block;
}

.step3-checkbox_ p.bold.mt-2 {
    margin-bottom: 20px;
}

.table_on-staep_3 td {
    width: 25%;
    padding-bottom: 5px;
}

.table_on-staep_3 input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.step3-checkbox_ {
    padding-bottom: 20px;
    border-bottom: 1px solid #e4dbdb;
}

.dropdown.d_for_step3 {
    padding: 30px 0px;
}

.d_for_step3 label {
    font-size: 18px !important;
    font-weight: 600;
}

select#lable-page {
    padding: 15px 5px;
    width: 304px;
    margin-left: 30px;
}

#lable-page option {
    font-size: 16px;
    background: #fff;
}

select#lable-page {
    font-size: 16px;
}

.dropdown.d_for_step3 {
    padding: 30px;
    border-bottom: 2px solid #e4e4e4;
}

.browse:hover {
    background-color: #B7B7B7;
    color: #fff;
}

.form textarea:hover {
    background: #F6F6F6;
}

.browse {
    border-radius: 10px;
    border: 2px solid #595959;
    padding: 8px 36px;
    margin-top: 14px;
    background-color: #fff;
}

.browse:hover {
    background-color: #B7B7B7;
    color: #fff;
}

.form textarea:hover {
    background: #F6F6F6;
}

select#lable-page {
    font-size: 16px;
    border-radius: 10px;
    border-color: #dedada;
    font-weight: 400;
    padding: 15px 10px;
    font-family: 'Open Sans', 'Sans Serif';
}

.additional-page {
    padding: 0 !important;
    border: 0 !important;
}

.step2_last {
    margin-top: 30px;
}

/***********************/
.table_on-staep_3 input[type="checkbox"] {
    /*width: 16px;
    height: 16px;
    margin-right: 10px;*/
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.table_on-staep_3 label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 30px;
    font-size: 13px;
}

.table_on-staep_3 label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #363636;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
    padding: 0px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    left: 3px;
}

.table_on-staep_3 label:hover::before {
    border: 2px solid #363636;
}

.table_on-staep_3 input:checked+label:before {
    border: 2px solid #363636;
}

.table_on-staep_3 input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 11px;
    width: 3px;
    height: 7px;
    border: solid #191919;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.text-h3 {
    font-size: 28px !important;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 12px;
}

.colTops {
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.websites {
    color: #000000;
    font-size: 18px;
    padding-left: 46px;
    padding-bottom: 24px;
    font-weight: 700;
    padding-top: 0px;
    font-family: 'Montserrat', 'Medium';
}

.mt-2s {

    font-weight: 600;
    margin-bottom: 10px !important;
    font-size: 14px !important;
    margin-top: 25px;
    margin-left: 27px;
    font-family: 'Montserrat', 'Medium';
}

.text-place {

    width: 90%;
    background: #FFFFFF;
    border: 1px solid #B6B6B6;
    border-radius: 8px;
    resize: none;

    padding: 10px;
    margin-left: 21px;
    outline: none;

}

table.table_on-staep_3 {
    margin-left: 27px;
}

.text-cont {

    align-items: flex-start;
    display: flex;
}

.uploads {

    font-weight: 600 !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
    margin-top: 25px;
    font-family: 'Montserrat', 'Medium';
}

.media {
    color: #888989;
    font-size: 13px;

}

.drops {

    padding: 30px !important;
    border: none !important;
}

.dropdown.d_for_step3 {
    background: #fff;
}

.form {
    width: 100%;
    padding: 0px 0px !important;
}

.websites1 {
    color: #000000;
    font-size: 18px;
    padding-left: 46px;
    padding-bottom: 24px;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'Montserrat', 'Medium';
}

.websites2 {
    color: #000000;
    font-size: 18px;
    padding-left: 46px;
    padding-bottom: 24px;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'Montserrat', 'Medium';
}

.checks {

    padding: 0px 4px 20px 0;
}

.spaces {

    margin-left: 19px !important;
}

.table_on-staep_3 td {
    width: 210px;
    padding-bottom: 5px;
}

select#lable-page:hover {
    border-width: var(--brwh, 2px);
    border-style: solid;
    border-color: rgba(var(--brdh, 249, 249, 249), var(--alpha-brdh, 1));
    background-color: #eaf7ff;
}

select#lable-page:focus {
    border-width: var(--brwh, 2px);
    border-style: solid;
    border: 1px solid #eaf7ff !important;
    background-color: #eaf7ff;
    outline: none;
}

/* additional css */

.width90 {
    max-width: 90%;
}

.checkBox input[type="checkbox"] {
    /*width: 16px;
    height: 16px;
    margin-right: 10px;*/
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkBox label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 30px;
}

.checkBox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #363636;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
    padding: 0px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 4px;
    border-radius: 5px;
    width: 13px;
    height: 13px;
    left: 5px;
    top: 2px;
}

.checkBox label:hover::before {
    border: 2px solid #363636;
}

.checkBox input:checked+label:before {
    border: 2px solid #363636;
}

.checkBox input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 11px;
    width: 3px;
    height: 7px;
    border: solid #191919;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

label.toggle.checkBox {
    margin-left: 0 !important;
}

.toggle.checkBox .toggle__text {
    margin-left: 0 !important;
}

.stores {

    padding: 3px 37px;
}